---
layout: default
slug: home
---
<h1 class="page-heading">{{ site.title }}</h1>
<p>{{ site.description }}</p>
<hr></hr>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="article">
    <h2><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a></h2>
    <span class="post-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time></span>
    <table>
      <tbody>
        {% if post.price %}<tr><td>Price</td><td>{{post.price}}</td></tr>{% endif %}
        {% if post.cpu %}<tr><td>CPU</td><td>{{post.cpu}}</td></tr>{% endif %}
        {% if post.gpu %}<tr><td>GPU</td><td>{{post.gpu}}</td></tr>{% endif %}
        {% if post.cpuclock %}<tr><td>Max CPU Clock</td><td>{{post.cpuclock}}</td></tr>{% endif %}
        {% if post.gpuclock %}<tr><td>Max GPU Clock</td><td>{{post.gpuclock}}</td></tr>{% endif %}
      </tbody>
    </table>
    <p><a href="{{ post.url | prepend: site.baseurl }}">Read more...</a></p>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> &middot; <a href="{{ "/sitemap.xml" | prepend: site.baseurl }}">Sitemap</a></p>
